.songs-sheetlist {
  width: 100%;
  height: 50px;
}
.songs-sheetlist .sheetlist-header {
  width: 90%;
  font-size: 17px;
  color: #abacaa;
  float: left;
  margin-left: 5%;
  margin-top: 5px;
}
.songs-sheetlist .sheetlist-header i {
  color: red;
  font-weight: bold;
}
.songs-sheetlist .songs-lists {
  width: 90%;
  float: left;
  margin-left: 5%;
  margin-top: 10px;
}
.songs-sheetlist .songs-lists .list-title {
  font-size: 14px;
}
.songs-sheetlist .songs-lists .list-name {
  color: #8c939d;
}
.songs-sheetlist .songs-bottom {
  height: 30px;
  width: 30px;
  float: left;
}
