#mv-header {
  background-color: #ff5555;
  color: #fff;
  padding: 16px 10px;
  text-align: center;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}
#mv-header .back-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 10px;
  top: 17px;
}
#mv-header .icon-fenx {
  float: right;
}
