.scond-header-nav {
  background-color: #f6f6f6;
  left: 0;
  right: 0;
  margin-top: -2.4px;
}
.scond-header-nav ul {
  height: 70px;
  padding-top: 6.5px;
  padding-bottom: 50px;
  border-bottom: 1px solid #e8e9e7;
}
.scond-header-nav ul li {
  float: left;
  text-align: center;
  width: 20%;
  margin-top: 6px;
}
.scond-header-nav ul li i {
  display: block;
  font-size: 30px;
  color: red;
}
.scond-header-nav ul li span {
  font-size: 12px;
}
.scond-header-nav .zwkf {
  width: 120px;
  text-align: center;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  color: white;
  z-index: 12;
  top: 39%;
  left: 35%;
}
