@font-face {
  font-family: "iconfont"; /* Project id 3124619 */
  src: url('iconfont.woff2?t=1644545113703') format('woff2'),
       url('iconfont.woff?t=1644545113703') format('woff'),
       url('iconfont.ttf?t=1644545113703') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e60e";
}

.icon-daichanfuwu:before {
  content: "\ed10";
}

.icon-zanting:before {
  content: "\e600";
}

.icon-kongxin:before {
  content: "\e62e";
}

.icon-shangyishoushangyige:before {
  content: "\e78a";
}

.icon-xiayigexiayishou:before {
  content: "\e7a5";
}

.icon-xiazai1:before {
  content: "\e651";
}

.icon-bofang2:before {
  content: "\e8a3";
}

.icon-pinglun:before {
  content: "\e641";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a2";
}

.icon-xiajiantou:before {
  content: "\e6cc";
}

.icon-tiaozhuan:before {
  content: "\e60c";
}

.icon-youjiantou:before {
  content: "\e622";
}

.icon-yonghu-yuan:before {
  content: "\e623";
}

.icon-bofangqi-bofangxiaodianshi:before {
  content: "\e6ab";
}

.icon-guanli:before {
  content: "\e60f";
}

.icon-xiazai:before {
  content: "\e605";
}

.icon-qianbao:before {
  content: "\e609";
}

.icon-yunpan:before {
  content: "\e6db";
}

.icon-bofang1:before {
  content: "\e624";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-bofang:before {
  content: "\e654";
}

.icon-zhuanjiguangpan:before {
  content: "\e64b";
}

.icon-paihangbang_paiming:before {
  content: "\e658";
}

.icon-rili:before {
  content: "\e62c";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-luyinjishouyinjidiantai:before {
  content: "\e625";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e630";
}

.icon-yinle:before {
  content: "\e60d";
}

.icon-shipin:before {
  content: "\e812";
}

