@font-face {
  font-family: "iconfont"; /* Project id 3124758 */
  src: url('iconfont.woff2?t=1641541005332') format('woff2'),
       url('iconfont.woff?t=1641541005332') format('woff'),
       url('iconfont.ttf?t=1641541005332') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-danlieliebiao:before {
  content: "\e6e4";
}

.icon-tianjia:before {
  content: "\e622";
}

.icon-maikefeng:before {
  content: "\e606";
}

.icon-gengduo:before {
  content: "\e670";
}

.icon-icon--yes:before {
  content: "\e61e";
}

